<ion-header>
  <ion-toolbar color= primary>
    <ion-title color = 'light'>Cadastro</ion-title>
    <ion-buttons slot = "start">
      <ion-back-button color = 'light'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id = "container" text-center>
    <ion-card >

      <ion-item>
        <strong>
          <ion-label position="stacked">Nome:</ion-label>
        </strong>
        <ion-input type='text' placeholder = 'Digite seu nome' required [(ngModel)]= "inputNome" ></ion-input>
      </ion-item>
      
      <ion-item>
        <strong>
          <ion-label position="stacked">Email:</ion-label>
        </strong>
        <ion-input type='email' placeholder = 'Digite seu email' required [(ngModel)] = "inputEmail"></ion-input>
      </ion-item>
      
      <ion-item>
        <strong>
          <ion-label position="stacked">Senha:</ion-label>
        </strong>
        <ion-input type='password' placeholder = 'Digite sua senha' required [(ngModel)] = "inputSenha"></ion-input>
      </ion-item>
      
      <ion-item>
        <strong>
          <ion-label position="stacked">Repetir Senha:</ion-label>
        </strong>
        <ion-input type='password' placeholder = 'Digite sua senha novamente' required [(ngModel)] = 'inputRepetirSenha'></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-button (click)= "verificar()">Cadastrar</ion-button>
      </ion-item>
    </ion-card>
  </div>
    
</ion-content>
