<ion-header>
  <ion-toolbar color = 'primary'>
    <ion-title color = 'light'>Agenda</ion-title>
    <ion-buttons slot=start>
      <ion-menu-button color='light'></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot = 'end'>
      <ion-button (click) = "logout()"><ion-icon name = 'exit' color = 'light'></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-list>
  <ion-card *ngFor="let demanda of demandas">
    <ion-card-subtitle>{{demanda.titulo}}</ion-card-subtitle>
    <ion-grid>
    <ion-row>
      <ion-item>
        <p>Prazo: {{demanda.prazo}}</p>
      </ion-item>
    </ion-row>  
    <ion-row>
      <ion-item>
        <p>Valor estimado: {{demanda.valorEstimado}}</p>
      </ion-item>
    </ion-row>  
    <ion-row>
      <ion-item>
        <p>Contato: {{demanda.prestador.email}}</p>
      </ion-item>
    </ion-row> 
    <ion-row>
    <ion-button expand = 'full' (click)="concluirServico(demanda)" >Concluir</ion-button>
    <ion-button expand = 'full' (click)="cancelarServico(demanda)">Cancelar</ion-button>
    </ion-row>
    
    </ion-grid>   
  </ion-card>
</ion-list>
</ion-content>
